@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
a{
    color:aliceblue;
    text-decoration: none;
}
/* width */
::-webkit-scrollbar {
width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: orchid; 
border-radius: 10px
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: mediumorchid; 
}
body{
    height: 100%;
    width: 100%;
    font-family: Montserrat,serif;
    overflow-y: auto;
}
header{
    width: 100%;
    position: fixed;
    background: white;
}
.illus{
    width: 100%;
    height: 100vh;
    background-image: url('../images/Untitled-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-bar{
    position: fixed;
    top: 0%;
    padding: 0.5%;
    width: 100%;
    box-shadow: 0px 7px 21px -5px rgba(0,0,0,0.75);
}
.logo{
    padding-left: 4%;
    font-size: 2.5rem;
    font-weight: 600;
    color: blueviolet;
    margin-top: 3%;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to right, darkviolet 20%, orchid 40%, mediumorchid 60%, darkviolet 80%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    animation: shine 12s linear infinite;
}
.logok{
    color: orchid;
}
.container{
   width: 90%;
   margin: 0 auto;
   padding-top: 1%;
}
img{
   margin-top: 1%;
}
ul{
   float: right;
   margin-right: 6%;
}
li{
   display: inline-block;
   margin-right: 45px;
   font-size: 1.2rem;
   margin-top: 3%;
   color: aliceblue;
   position: relative;
}
li::after{
   content: '';
   display: block;
   position: absolute;
   margin-top: 10%;
   width: 0%;
   height: 10%;
   background: aliceblue;
   transition: all 250ms;
}
li:hover::after{
   width: 100%;
}
@keyframes navline{
   to{ width:  90%; }
}
.hero{
   margin-top: 10%;
}
.greetings{    
   color: #444242b5;
 margin-left: 0.5%;
 animation: opa 1600ms linear forwards;
}
.name {
    display: inline-block;
 font-size: 4rem;
 color: blueviolet;
 font-weight: bold;
 -webkit-text-fill-color: transparent;
 background: linear-gradient(to right, darkviolet 20%, orchid 40%, mediumorchid 60%, darkviolet 80%);
 background-size: 200% auto;
 background-clip: text;
 -webkit-background-clip: text;
 animation: shine 12s linear infinite;
  transform: translateX(-180%);
  animation: dist 1000ms linear forwards
}
@keyframes shine{
 to{
     background-position: 200% center;
 }
}
@keyframes dist{
    to{
        transform: translateX(0);
    }
}
@keyframes opa{
    to{
        opacity: 1;
    }
}
.name::after{
 content: ',';
 width: 100%;
 height: 100%;
 color: black;
 font-size: 3.5rem;
}
.job {
    display: inline-block;
 font-size: 3rem;
 font-weight: 700;
 opacity: 0;
 animation: opa 1600ms linear forwards;
}
/* About page */
#about{
    padding: 7rem;
    background: url('../images/about.png') no-repeat;
    background-size: cover;
    /* position: relative; */
}
.about-me{
    font-size: 3rem;
    color: blueviolet;
    position: relative;
}
.about-me::after{
    content: '';
    display: block;
    position: absolute;
    margin-top: 0.5%;
    width: 7%;
    height: 10%;
    background:orchid;
    border-radius: 15px;
    transition: all 250ms;
}
.brand {
    position: absolute;
    top: 100%;
    left: 3%;
    font-size: 15rem;
    font-weight: 600;
    color: rgba(187, 183, 183, 0.17);
    color: rgba(224, 222, 222, 0.39);
    z-index: -999;
}
.f-end{
    margin-top: 3%;
    font-size: 2rem;
}
.about-para{
    margin-top: 3%;
    font-size: 1.25rem;
    line-height: 1.7rem;
}
.passion,.work{
    margin-top: 2%;
    line-height: 1.5rem;
    font-size: 1.3rem;
}
.work{
    font-weight: bold;
}

/* Media Queries */
@media only screen and (min-width: 320px)and (max-width: 430px){
    ul{
    float: none;
    background: #fafafc;
    display: none;
    margin: 0;
    }
    li{
        display: block;
        text-align: -webkit-center;
        padding: 1rem;
        color: black;
    }
    .logo{
    font-size: 4rem;
    display: block;
    text-align: -webkit-center;
    margin-top: 0%;
    }
    .hero{
        margin-top: 30%;
        padding-left: 8%;
    }
    .brand{
    font-size: 8.5rem;
    position: absolute;
    top: 105%;
    left: 2%;
    }
    .myself {
        margin-top: 15%;
    }
    
    .container {
        width: 100%;
    }
    #about{
        padding: 2rem;
        margin-top: 6%;
    }
    .about-me{
        font-size: 2rem;
    }
    .about-me::after{
        width: 15%;
    }
    .f-end{
        margin-top: 6%;
        font-size: 1.7rem;
    }
    .about-para,.work{
        margin-top: 6%;
    }
}